.box-form {
  padding-left: 30px;
}
.bar-title {
  line-height: 100px;
  background: black;
  text-align: center;
  color: white;
  margin: -20px -35px 0 -30px;
  font-size: 18px;
}

.form-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box form {
  width: 250px;
}
.form-box input[type="text"],
.form-box textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px 15px;
  font-size: 12px;
  border: 1px solid #1e1e1e;
  color: #727272;
  background: #131313;
}
.form-box input[type="text"] {
  height: 40px;
  border-radius: 4px;
}
.form-box textarea {
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  resize: none;
}
.form-box button {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #349d94;
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
}
.form-group {
  position: relative;
  display: flex;
}
.form-group label {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 12px;
  padding: 0 10px;
  background: #131313;
  color: #535353;
}
.input-group {
  font-size: 11px;
  display: flex;
  align-items: center;
  height: 40px;
}
.input-group label {
  margin-left: 10px;
}
.input-comlum {
  position: relative;
  display: flex;
  align-items: center;
}
.input-comlum:first-child {
  margin-right: 10px;
}
