.back-img {
  background-image: url(/img/back.jpg);
  background-position: center;
  background-size: cover;
}
.content-bottom {
  width: 100%;
  height: 60%;
  background: #010127;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.box-options {
  min-width: 180px;
  background: #110e29;
}
.content-bottom .box-options {
  position: absolute;
  top: -80px;
  min-height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top: 4px solid #e8019b;
}
.content-bottom span {
  color: white;
  padding-top: 150px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  font-size: 20px;
}
.box-options button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #e8019b;
  color: white;
  cursor: pointer;
}
.box-options button:last-child {
  background-color: #230079;
}
.content-bottom .home-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 8px solid #e8019b;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
