.box-list {
  padding-left: 30px;
}
.box-list ul {
  list-style-type: none;
  padding-left: 0;
}
.list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1e1e1e;
  margin-top: 10px;
}
.list-item:last-child {
  border-bottom: none;
}
.list-item .manage-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3db4a9;
  font-size: 11px;
}
.model-info {
  max-width: calc(100% - 150px);
  width: 100%;
  display: inline-block;
}
.model-info p {
  margin: 10px 0;
  padding-left: 5px;
  font-size: 12px;
  color: #565656;
}
.model-info span {
  font-size: 11px;
  color: grey;
}
.price {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #3db4a9;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.price span {
  font-size: 12px;
}
